name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
    paths:
      - 'flake.nix'
      - 'flake.lock'
      - 'nix/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  inventory:
    name: Build inventory
    runs-on: ubuntu-latest
    outputs:
      x86_64-linux: ${{ steps.matrix.outputs.x86_64-linux }}
      aarch64-linux: ${{ steps.matrix.outputs.aarch64-linux }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Nix
        uses: ./.github/actions/nix-setup
        with:
          cachixAuthToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Generate build matrix
        id: matrix
        run: |
          {
          echo "x86_64-linux=$(nix run .#generate-ci-matrix -- --system x86_64-linux --branch "$GITHUB_REF_NAME" --flatten)"
          echo "aarch64-linux=$(nix run .#generate-ci-matrix -- --system aarch64-linux --branch "$GITHUB_REF_NAME" --flatten)"
          } >> "$GITHUB_OUTPUT"

  build-x86_64-linux:
    name: Build ${{ matrix.output }}.${{ matrix.name }}
    needs: inventory
    if: ${{ toJSON(fromJSON(needs.inventory.outputs.x86_64-linux)) != '[]' }}
    strategy:
      matrix:
        include: ${{ fromJSON(needs.inventory.outputs.x86_64-linux) }}
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/nix-setup
        with:
          system: ${{ matrix.system }}
          cachixAuthToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          makeSpace: ${{ matrix.output == 'nixosConfigurations' }}
      - run: |
          nix build ${{ matrix.derivation }}

  build-aarch64-linux:
    name: Build ${{ matrix.output }}.${{ matrix.name }}
    needs: inventory
    if: ${{ toJSON(fromJSON(needs.inventory.outputs.aarch64-linux)) != '[]' }}
    strategy:
      matrix:
        include: ${{ fromJSON(needs.inventory.outputs.aarch64-linux) }}
      fail-fast: false
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/nix-setup
        with:
          system: ${{ matrix.system }}
          cachixAuthToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          makeSpace: ${{ matrix.output == 'nixosConfigurations' }}
      - run: |
          nix build ${{ matrix.derivation }}
