name: Update flake inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SAT"

jobs:
  update:
    name: Update flake
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: ./.github/actions/qemu-setup
      - uses: ./.github/actions/nix-setup
        with:
          cachixAuthToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Update flake inputs
        run: |
          nix flake update \
            > update.stdout \
            2> update.stderr
          cat <<EOF >> "$GITHUB_STEP_SUMMARY"
          ## Update

          ### Output
          \`\`\`sh
          $(cat update.stdout)
          \`\`\`

          ### Warnings
          \`\`\`sh
          $(cat update.stderr)
          \`\`\`
          EOF
      - name: Run flake checks
        run: |
          nix flake check --all-systems \
            > check.stdout \
            2> check.stderr
          cat <<EOF >> "$GITHUB_STEP_SUMMARY"
          ---
          ## Check

          ### Output
          \`\`\`sh
          $(cat check.stdout)
          \`\`\`

          ### Warnings
          \`\`\`sh
          $(cat check.stderr)
          \`\`\`
          EOF
      - name: Build PR body
        id: vars
        run: |
          {
          echo 'PR_BODY<<EOF'
          cat <<GHO
          ### Updated inputs
          <details open>
          \`\`\`sh
          $(cat update.stdout)
          \`\`\`
          </details>

          ### Check results

          <details open>
          \`\`\`sh
          $(cat check.stdout)
          \`\`\`
          </details>

          <details>
          <summary>Warnings</summary>
          \`\`\`sh
          $(cat check.stderr)
          \`\`\`
          </details>
          GHO
          echo EOF
          } >> "$GITHUB_OUTPUT"
          rm ./update.{stdout,stderr}
          rm ./check.{stdout,stderr}
      - name: Create PR
        uses: technote-space/create-pr-action@v2
        with:
          COMMIT_MESSAGE: 'chore: Update flake inputs'
          PR_TITLE: 'chore: Update flake inputs'
          PR_BRANCH_NAME: update-flake-inputs
          PR_BODY: ${{ steps.vars.outputs.PR_BODY }}
          GITHUB_TOKEN: ${{ secrets.GHA_TOKEN }}
