name: Update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SAT"

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    name: Update flake inputs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: ./.github/actions/nix-setup
        with:
          cachixAuthToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Update flake inputs
        id: update
        run: |
          set -o pipefail
          nix flake update 2>/dev/null \
          | tee -a "$GITHUB_STEP_SUMMARY" ./update.out
      - name: Run flake checks
        id: check
        run: |
          set -o pipefail
          nix flake check --all-systems 3>&1 1>/dev/null 2>&3 \
          | tee -a "$GITHUB_STEP_SUMMARY" ./check.out
      - name: Build PR body
        id: vars
        run: |
          {
          echo 'PR_BODY<<EOF'
          cat <<GHO
          ### Updated inputs
          \`\`\`sh
          $(cat update.out)
          \`\`\`
          GHO
          echo EOF
          } >> "$GITHUB_OUTPUT"
          rm ./update.out
          rm ./check.out
      - name: Create PR
        uses: peter-evans/create-pull-request@v8
        with:
          branch: update-flake-inputs
          add-paths: |
            ./flake.lock
          commit-message: 'chore: Update flake inputs'
          title: 'chore: Update flake inputs'
          body: ${{ steps.vars.outputs.PR_BODY }}
          delete-branch: true
